/* Header styles */
header {
    border-bottom:3px solid #f4f1eb;
    /* 背景と色を合わせる */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 26px;
    font-weight: bold;
    color: #8a7c74;
    font-family: 'Georgia', serif;
}